@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto para estudo</h1>

    <p>Projeto em ASP.NET CORE 3.1 C# Com Banco de dados MYSQL</p>

    <p>Abaixo todas as bibliotecas utilizadas:</p>
    <p> Microsoft.EntityFrameworkCore </p>
    <p> MySql.Data.EntityFrameworkCore </p>
    <p> MySql.Data.EntityFrameworkCore.Design </p>
    
    <p>Facebook <a href="https://facebook.com/gabriel.veronesi">Gabriel Veronesi 2020</a>.</p>
</div>
